.room-name:hover{
      cursor: pointer;
      color: pink;
    /*  background-color: rgb(210, 40, 123);*/

}

.left-column {
  background-color: lightgrey;
  position : left;
}

.h1 {
  color: blue;
}
.createRoomForm {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Pattern styles */
.container {
    flex: 1;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

.room {
    padding-top: 1rem;
    text-decoration-color: pink;
}

.left-column-header{
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid black;
    padding-bottom: .5rem;
    margin-bottom: 1rem;

}

.left-column {
    background-color: grey;
    flex: .3;
    padding: 1rem;
    color: cyan;
}

.right-column {
    background-color: lightgrey;
    flex: 1;
    padding: 1rem;
    color: royalblue;
}

.room-title {
    flex-direction: row;
    border-bottom: 3px solid black;
    padding-bottom: .9rem;
    margin-bottom: 1rem;
    color: cyan;
}
.p {
    text-align: right;
}
