<section class="chat-rooms container">
  <div class="column half">
      <h1> Bloc Chat</h1>

      <div ng-repeat="room in roomController.rooms" ng-click="roomController.roomName(room)">
        {{ room.$value }}
      </div>

      <!-- ng-submit -->
      <form name="creteRoomForm">
        <h3>Create New Room</h3>
        <label>Room name</label>
        <input ng-enter="roomController.create()"ng-model="roomController.room.roomName"></input>
        <button type="submit">Create room</button>
        <button type="submit">Cancel</button>
      </form>

   </div>
</section>

<ng-include src="'/app/index.html'"></ng-include>
