<section class="chat-rooms container">
    <div class="left-column">
        <h1> Bloc Chat</h1>

        <div ng-repeat="room in roomController.rooms" ng-click="roomController.openRoom(room.name)">
        {{ room.name }}
        </div>
        <div ng-bind="roomController.room.roomName">
        </div>

        <!-- ng-submit -->
        <form ng-submit="roomController.createRoomForm(roomController.newRoomName)">
            <h3>Create New Room</h3>
            <input type="text" ng-model="roomController.newRoomName" placeholder="new-room-name" required>{{newroomName}}</input>
            <button type="submit">Create room</button>
        </form>
    </div>


    <div class="right-column">
          <section class="room-title">
              <h1>{{currentRoomTitle}}</h1>
          </section>
          <div ng-repeat="message in currentRoomMessages">
              <b>{{message.username}}</b>:
              <br>
              <i>{{message.content}}</i> <p>{{message.sentAt}}</p>
              </br>
          </div>
    </div>

</section>
<ng-include src="'/app/index.html'"></ng-include>
